/* Global Clean Reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #ffffff;
}

body {
  min-height: 100vh;
  font-family: var(--font-geist-sans), sans-serif;
}